$sans-serif: "Poppins", sans-serif;
$sans-serif-alt: "Bricolage Grotesque", sans-serif;

// Colors
$primary: #0077be;
// $primary: #ec1710;
$secondary: #f7b71d;
$light: #ffffff;
$light-alt: #eeeeee;
$dark: #000407;
$dark-alt: #151515;

// Break Points
$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 992px;
$xl-breakpoint: 1200px;
