.text {
  &-primary {
    color: $primary !important;
  }
  &-secondary {
    color: $primary !important;
  }
  &-light {
    color: $light !important;
  }
  &-light-alt {
    color: $light-alt !important;
  }
  &-dark {
    color: $dark !important;
  }
  &-dark-alt {
    color: $dark-alt !important;
  }
}

.bg {
  &-primary {
    background-color: $primary !important;
  }
  &-secondary {
    background-color: $primary !important;
  }
  &-light {
    background-color: $light !important;
  }
  &-light-alt {
    background-color: $light-alt !important;
  }
  &-dark {
    background-color: $dark !important;
  }
  &-dark-alt {
    background-color: $dark-alt !important;
  }
}
