@use "./../abstract/variables" as v;
@use "./../abstract/mixins" as m;

.text {
  &-primary {
    color: v.$primary !important;
  }
  &-secondary {
    color: v.$secondary !important;
  }
  &-light {
    color: v.$light !important;
  }
  &-light-alt {
    color: v.$light-alt !important;
  }
  &-dark {
    color: v.$dark !important;
  }
  &-dark-alt {
    color: v.$dark-alt !important;
  }
}

.bg {
  &-primary {
    background-color: v.$primary !important;
  }
  &-secondary {
    background-color: v.$secondary !important;
  }
  &-light {
    background-color: v.$light !important;
  }
  &-light-alt {
    background-color: v.$light-alt !important;
  }
  &-dark {
    background-color: v.$dark !important;
  }
  &-dark-alt {
    background-color: v.$dark-alt !important;
  }
}
