.gallery {
}
.gallery__item img {
  width: 100%;
}

a.gallery__item {
  height: 260px !important;
}
.gallery-card-type-2{
  .gallery-overlay{
    transform: translateY(-100%);
    transition: all .3s linear;
  }
  &:hover{
    .gallery-overlay{
      transform: translateY(0%);
    }
  }
}