@use "./../abstract/variables" as v;
@use "./../abstract/mixins" as m;

.product {
  padding: 70px 0;
  .heading {
    h2 {
      font-weight: 600;
      font-size: 40px;
      margin-bottom: 50px;
      text-align: center;
      @media (max-width: 430px) {
        font-size: 32px;
      }
    }
  }
  .row {
    gap: 15px 0;
  }
  .product-cont {
    border: 1px solid #bfbfbf;

    a {
      .product-img {
        background-color: rgba(33, 37, 41, 0.75);
        height: 300px;
        margin-bottom: 10px;
      }
      .product-dicription {
        padding: 15px;
        h3 {
          font-size: 23px;
          color: #000;
          margin-bottom: 10px;
        }
      }
    }
  }
}
